* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1d29 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.RickRollVideo {
    margin: 25px;
}

.btn {
    background-color: #5865F2 !important;
    padding: 1rem 2rem !important;
}