<!DOCTYPE html>
<html>
                <title>         Never Gonna Give You Up!       </title>
                <meta charset="UTF-8">
                <meta name="keywords" content="ریک رول, ریک استلی, ریکرول, RickRoll, RickAstley">
                <meta name="description" content="Get RickRolled :)))">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <!--                                     Css Location:                                     -->
        <link rel="stylesheet" href="./app.component.css">
        <!--                                   End Css Location;                                   -->

        <div class="video">
            <video class="RickRollVideo" autoplay muted>
                <source src="./RickRollVideo.mp4" type="video/mp4">
            </video>
        </div>

        <div class="audio">
            <audio hidden autoplay>
                <source src="./RickRollAudio.mp3" type="audio/mp3">
            </audio>
        </div>

        <button mat-raised-button color="primary">Our Discord</button>
        <!--     JavaScript Location() {     -->
        <script src="./app.component.ts"></script>
        <!--   End JavaScript Location() }   -->
    </body>
</html>